@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 15px 3%;
    background-color: #091C29;
    margin-bottom: 1.5rem;
}

.titulo {
    cursor: pointer;
    font-weight: 580;
    font-size: 19px;
    letter-spacing: 3px;
    text-decoration: none;
    color: #F4F6F7;
}

.nav_links {
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0 20px;

}
.nav_links a {
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    color: #F4F6F7;
}

header a:hover{
    color: #85C1E9;
}

header nav ul li .active_link{
    font-weight: 600;
    font-size: 18px;
    color: #2E86C1;
}
