main .registrar{
    margin: 0 auto;

}

main .registrar .registrar_tiutlo{
    margin: 0 auto;
    width: 35%;
    padding: 0.6rem 0;
    background-color: #E5E7E9;
    border-radius: 5px 5px 0 0;
}
main .registrar .registrar_tiutlo p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}
main .registrar .registrar_formulario{
    margin: 0 auto;
    width: 35%;
    padding: 1rem 2rem;
    background-color: #FBFCFC;
}
main .registrar .registrar_formulario .caja_input{
    padding: .5rem;
    margin-bottom: .2rem;
}

main .registrar .registrar_formulario .caja_input input{
    width: 100%;
    height: 2.2rem;
    border-radius: 5px;
    border-style: double;
    border-color: rgba(202, 207, 210, 1);
    background-color: #FBFCFC;
    padding: .3rem;
    outline: none;
}
main .registrar .registrar_formulario .caja_input input:focus{
    border-color: rgba(133, 193, 233, 1);
}

main .registrar .registrar_formulario .caja_input .invalido{
    border-color: rgba(231, 76, 60, 1);
}


main .registrar .botones{
    margin: 0 auto;
    width: 35%;
    padding: 1rem 0;
    background-color: #E5E7E9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

main .registrar .botones button{
    width: 25%;
    height: 2rem;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}

main .registrar .botones .aceptar{
    background-color: #16A085;
    color: white;
}
main .registrar .botones .cancelar    {
    background-color: #979A9A;
    color: white;
    margin-right: .5rem;
}
main .registrar span{
    color: red;
    font-size: 12px;
    font-weight: 400;
}
